/* -----------header start--------- */
.logo {
  display: block;
  background: unset;
  height: 100%;
  z-index: 999;
}
.logo svg {
  display: block;
  max-width: 200px;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  align-items: center;
}
.header_menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 65%;
  gap: 30px;
}
.join_btn {
  display: inline-flex;
  padding: 15px 20px 13px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #31ad10;
  color: #fff;
  text-decoration: none;
  font-family: Gilroy-Bold;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  text-transform: capitalize;
}
.join_btn:hover {
  background-color: #137D00;
}
header {
  background-color: #fff;
  padding: 26px 0px;
  position: sticky;
  z-index: 10;
  width: 100%;
  top: 0px;
  box-shadow: 0px 1px 4px 0px rgba(22, 26, 29, 0.12);
  transition: padding 0.3s;
}
header.header_on_scroll {
  padding: 18px 0px;
  transition: padding 0.3s;
}
.menuToggle {
  display: block;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
.menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: all 0.3s ease;
}
.menuToggle input {
  display: block;
  width: 90px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 1;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
.menuToggle span {
  position: relative;
  display: block;
  position: relative;
  transform-origin: bottom;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
  color: #31ad10;
  font-family: Gilroy-SemiBold;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  text-transform: capitalize;
  white-space: nowrap;
}
.menuToggle label {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
.menuToggle .global:hover span {
  color: #137D00;
}
.menuToggle .global:hover svg path {
  fill: #137D00;
}

.menu_visible {
  position: absolute;
  width: 68%;
  max-width: 1024px;
  padding: 50px;
  padding-top: 28px;
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transition: transform 0.6s linear;
  height: 100vh;
}
.menu_visible li {
  padding: 16px 0;
  font-size: 22px;
  margin-bottom: 4px;
}
.menu--left .menu_visible {
  transform: translate(-100%, 0);
  left: 0;
  top: 0px;
}
.menu_visible_options {
  display: flex;
  justify-content: flex-end;
  gap: 45px;
  margin-bottom: 40px;
}
.menu_visible_options a {
  color: #fff;
}
.menu_visible_options svg {
  color: #fff;
  fill: #fff;
  width: 100%;
}
.menu_visible_options button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #31ad10;
  margin-top: 2px;
  cursor: pointer;
}
.menu_visible_options button:hover {
  background-color: #137D00;
}
.menu_visible_img {
  display: inline-block;
  width: inherit;
}
.menuItem {
  margin-top: 28px;
  list-style: none;
}
.menuItem a {
  color: #161a1d;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.24px;
}
.menuItem a:hover {
  color: #137d00;
}
/* CSS class for background blur */
body.blur > *:not(header),
body.blur .global,
body.blur .join_btn_header {
  filter: blur(10px);
}
body.blur .menu_visible {
  filter: none;
  z-index: 1;
  transform: none;
}
/* CSS class for fixing the background */
.fixed-background {
  position: fixed !important;
  left: 0;
  width: 100%;
  height: 100%;
}
.menu_items {
  overflow-y: scroll;
  max-height: calc(100vh - 165px);
  display: block;
  width: inherit;
  padding-right: 20px;
}
/* -----------header ends--------- */

.banner_section {
  position: relative;
  margin-top: 0px;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
  height: 100%;
}
.controls {
  position: absolute;
  top: 24px;
  right: 48px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  opacity: 0.8;
  font-size: 18px;
  transition: 0.6s ease;
  text-decoration: none;
  user-select: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.controls.pause {
  background-image: url('../images/Icons/Pause.svg');
}
.controls.play {
  background-image: url('../images/Icons/Play.svg');
}
/* Hide Chrome default focus outline when a button is pressed */
.controls:focus {
  outline: none;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
.banner_section h1 {
  position: absolute;
  left: 48px;
  bottom: 30px;
  color: #fff;
  font-size: 72px;
  font-weight: 400;
  line-height: 76px;
  letter-spacing: -0.72px;
  font-family: Gilroy-Bold;
}
/* ------------search widget start--------- */

.searchMain {
  display: flex;
  justify-content: space-between;
  flex-direction: revert;
  width: 71%;
}
.searchNupload {
  display: flex;
  gap: 30px;
  align-items: center;
}
.searchSection {
  background: rgba(246, 246, 246, 0.8);
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-top: 9px;
  padding-bottom: 9px;
  position: sticky;
  top: 84px;
  z-index: 1;
}
.searchMain div {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.searchMain input {
  border-radius: 40px 0px 0px 40px;
  width: 100%;
  text-transform: capitalize;
  padding: 13px 28px;
  padding-right: 50px;
  border: 1px solid #d9d8d6;
  background: #fff;
  color: #161a1d;
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.searchMain input:focus-visible {
  outline: none;
  border: 1px solid #137d00;
}
.searchMain input::placeholder {
  color: #8a97ab;
}

.searchMain .searchInput input {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  border-right: unset;
}
.searchMain .searchInput input:focus-visible, .searchMain .searchInput input:focus {
  border: 1px solid #137d00;
  outline: none;
}
.searchMain .searchInput::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("https://static.vscdn.net/images/careers/demo/dexcom-sandbox/1697797192::search.svg");
  display: block;
  width: 35px;
  height: 35px;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  right: 18px;
}
.searchMain .searchInput.focused::before {
  background-image: url("https://static.vscdn.net/images/careers/demo/dexcom-sandbox/1698130885::search.svg");
}
.searchMain .locationInput::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("https://static.vscdn.net/images/careers/demo/dexcom-sandbox/1698131621::location.svg");
  display: block;
  width: 30px;
  height: 23px;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  right: 18px;
}
.searchMain .locationInput.focused::before {
  background-image: url("https://static.vscdn.net/images/careers/demo/dexcom-sandbox/1698135835::location-green1.svg");
}
.searchMain .locationInput input {
  border-radius: 0px 40px 40px 0px;
}

.searchMain button {
  flex-grow: 1;
  border: unset;
  cursor: pointer;
  border-radius: 30px;
  background: #31ad10;
  display: flex;
  padding: 15px 35px 13px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #fff;
  font-family: Gilroy-Bold;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  margin-left: 10px;
}
.searchMain button:hover {
  background: #137D00;
}
.uploadMain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.uploadMain .forJob {
  color: #434141;
  font-family: Gilroy-Bold;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.16px;
  margin-left: 5px;
}
.uploadMain a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #31ad10;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
}
.uploadMain a:hover {
  color: #137D00;
}
.uploadMain a:hover svg path {
  fill: #137D00;
}
.uploadMain a span::after {
  content: "";
  width: 100%;
  top: 2px;
  height: 2px;
  display: block;
  background-color: #31ad10;
  position: relative;
}
.uploadMain a:hover span::after {
  background-color: #137D00;
}
.or {
  color: #434141;
  font-family: Gilroy-Bold;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.16px;
}
.searchSection .mobile {
  width: 100%;
}
.search_dropdown p {
  color: #31ad10;
  font-family: Gilroy-Bold;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px; 
}

.search_jobs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.search_close {
  border-top: 1px solid #434141;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}
@media screen and (max-width: 1438px) {
  .uploadMain {
    flex-direction: column;
    align-items: center;
  }
  .uploadMain .forJob {
    padding-top: 4px;
  }
}
.ui-menu .ui-menu-item a {
  color: #31ad10;
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-weight: 400 !important;
  line-height: 20px !important;
  border: unset !important;
}

ul.ui-corner-all::before {
    content: "\00a0";
    position: relative;
    top: -11px;
    width: calc(100% + 20px);
    display: block;
    background: #f8f8f9;
    left: -10px;
    height: 2px;
    border-bottom: 1px solid #F6F6F6;
    bottom: unset;
    position: relative;
    z-index: -1;
  }
.ui-menu li.ui-menu-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ui-menu li.ui-menu-item:hover,
.ui-menu li.ui-menu-item:hover::after,
.ui-menu li.ui-menu-item:hover::before,
.ui-menu li.ui-menu-item a:hover,
.ui-menu li.ui-menu-item a:hover::before,
.ui-menu li.ui-menu-item a:hover::after,
.ui-menu li.ui-menu-item a.ui-state-focus:hover {
  background-color: unset !important;
  border-color: transparent !important;
  box-shadow: unset !important;
  outline: unset !important;
  background: unset !important;
  cursor: pointer !important;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border-color: transparent !important;
  background: unset !important;
  cursor: pointer !important;
  margin: 0px !important;
  color: #137d00 !important;
}
.ui-menu li.ui-menu-item:hover a,
.ui-menu li.ui-menu-item a:hover {
  color: #137d00 !important;
}
ul.ui-corner-all {
  border: 1px solid #f6f6f6;
  background: #fff;
  box-shadow: 0px 1px 8px 0px rgba(22, 26, 29, 0.12);
  padding: 10px 10px 20px 10px;
  z-index: 1;
}
/* ------------search widget ends--------- */

/* ------------welcome_section start--------- */
.welcome_section {
  padding-top: 48px;
  padding-bottom: 68px;
}
.welcome_section h1 {
  color: #434141;
  font-family: Gilroy-Bold;
  text-align: center;
  font-size: 72px;
  font-weight: 400;
  line-height: 76px; /* 105.556% */
  letter-spacing: -0.72px;
}
.welcome_section h4 {
  color: #434141;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 44px; /* 110% */
  letter-spacing: -0.4px;
  padding-top: 16px;
  padding-bottom: 12px;
  font-family: Gilroy-Bold;
}
.welcome_section p {
  color: #161a1d;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-family: "Gilroy-Medium";
  line-height: 28px; /* 140% */
  margin-bottom: 28px;
}
.welcome_inner {
  max-width: 996px;
  margin: 0 auto;
}
.welcome_inner h4 span {
  text-wrap: nowrap;
}
/* ------------welcome_section ends--------- */
/* ------------mission start--------- */
.mission_img {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 46px;
}
.mission_img img {
  height: 100%;
  width: 100%;
}
.mission_item {
  width: 25%;
  border-radius: 8px;
  background: #f6f6f6;
  display: block;
  overflow: hidden;
}
.mission_section {
  padding-top: 48px;
  padding-bottom: 48px;
  background: #f6f6f6;
  overflow: hidden;
}
.mission_content h2 {
  margin-bottom: 24px;
  margin-top: 8px;
  color: #434141;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px; /* 107.143% */
  letter-spacing: -0.56px;
}
.mission_content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px; /* 140% */
  letter-spacing: -0.2px;
  color: #434141;
  text-align: center;
  font-family: Gilroy-Bold;
}
.mission_content strong {
  display: block;
  font-family: "Gilroy-Bold";
}
.mission_content {
  margin: 0 auto;
}
/* ------------mission ends--------- */
/* ---------culture_values_section start-------- */
.culture_values_section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.culture_values_img {
  margin-bottom: 20px;
  border-radius: 8px;
}
.culture_values_img img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
.culture_values_text {
  max-width: 1112px;
  margin-bottom: 24px;
}
.culture_values_text h4 {
  color: #434141;

  font-family: Gilroy-Bold;
  font-size: 40px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.4px;
  margin-bottom: 25px;
}
.culture_values_text p {
  color: #434141;

  font-family: Gilroy-Medium;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.culture_values_items {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 24px;
}
.culture_values_section button {
  color: #31ad10;
  font-family: Gilroy-Bold;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  background: transparent;
  cursor: pointer;
}
.culture_values_section button:hover {
  color: #137D00;
}
.culture_values_item svg {
  width: 80px;
  height: 80px;
}
.culture_values_item h4 {
  color: #161a1d;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 16px;
  font-family: "Gilroy-Bold";
}
.culture_values_item p {
  color: #161a1d;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}
.culture_values_item ul {
  display: none;
  padding-left: 30px;
  padding-top: 12px;
}
.culture_values_item ul li {
  color: #161a1d;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 4px 0px;
  margin-bottom: 8px;
}
.culture_values_item ul {
}
.culture_values_item ul.readmore_ul_visible {
  display: block;
}
.culture_values_item .read_more {
  display: none;
}
/* ---------culture_values_section ends-------- */
/* ---------testimonual start-------- */
.testimonial_section {
  padding-bottom: 46px;
  padding-top: 146px;
  overflow: hidden;
}
video[poster] {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  z-index: 0;
  position: relative;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b8babc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b8babc;
}
.testimonial_heading {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 24px;
  padding: 0 48px;
}
.testimonial_heading h2 {
  letter-spacing: -0.4px;
}
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  height: 8px !important;
}
.testimonial_section .swiper-slide {
  width: 65.5%;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  position: relative;
}
.testimonial_section .swiper-slide .play_video {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.testimonial_section .swiper-slide .inner_btn {
  height: 64px;
  width: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  transform: translateY(-50%) translateX(-50%);
}
.testimonial_section .swiper-slide .inner_btn svg {
  cursor: pointer;
}
.testimonial_section .swiper-slide .inner_btn:hover .outline {
  stroke: #137d00;
}
.testimonial_section .swiper-slide .inner_btn:hover .play {
  fill: #137d00;
}
.play_video img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.swiper-video {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  height: 370px;
}
.swiper-img {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 370px;
  width: 100%;
}
.swiper-img img {
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  max-width: 100%;
  width: 100%;
}
.testimonial_section .swiper-slide h5 {
  color: #161a1d;
  font-family: Gilroy-Bold;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  max-width: 812px;
  padding-right: 22px;
}
.testimonial_section .swiper-slide p {
  color: #161a1d;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
  max-width: 812px;
  padding-right: 22px;
}
.testimonial_section .swiper-button-next:after,
.testimonial_section .swiper-button-prev:after {
  background-repeat: no-repeat;
  background-size: contain;
  font-family: unset;
  content: "";
  height: 100%;
  width: 100%;
}
.testimonial_section .swiper-button-next:after,
.testimonial_section .swiper-rtl .swiper-button-next:after {
  background-image: url("https://static.vscdn.net/images/careers/demo/dexcom-sandbox/1698082723::right.svg");
  background-color: transparent;
  border-radius: 5px;
  transition: ease-in .5s;
  -webkit-transition: ease-in .5s;
}
.testimonial_section .swiper-button-next:hover::after {
  background-image: url("https://static.vscdn.net/images/careers/demo/dexcom-sandbox/1698082723::right.svg");
  height: 48px;
  width: 48px;
  background-color: #e7e8e8;
  border-radius: 50%;
  transition: ease-in .5s;
  -webkit-transition: ease-in .5s;
}
.testimonial_section .swiper-button-prev:after,
.testimonial_section .swiper-rtl .swiper-button-prev:after {
  background-image: url("https://static.vscdn.net/images/careers/demo/dexcom-sandbox/1698082795::left.svg");
}
.testimonial_section .swiper-button-prev:after,
.testimonial_section .swiper-rtl .swiper-button-prev:after {
  background-image: url("../images/Icons/testimonial-icon.svg");
  background-color: transparent;
  border-radius: 5px;
  transition: ease-in .5s;
  -webkit-transition: ease-in .5s;
}
.testimonial_section .swiper-button-prev:hover::after {
  background-image: url("../images/Icons/testimonial-icon.svg");
  height: 48px;
  width: 48px;
  background-color: #e7e8e8;
  border-radius: 50%;
  transition: ease-in .5s;
  -webkit-transition: ease-in .5s;
}
.testimonial_section .swiper-horizontal > .swiper-pagination-bullets,
.testimonial_section .swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none;
}
.testimonial_section .swiper-button-next,
.testimonial_section .swiper-button-prev {
  height: 48px;
  width: 48px;
  position: absolute;
  top: -51px;
}
.testimonial_section .swiper-button-next {
  right: 1px;
}
.testimonial_section .swiper-button-prev {
  right: 72px;
  left: unset;
}
.testimonial_section .swiper-button-next::before {
  content: "";
  display: block;
  width: 1px;
  height: 24px;
  background-color: #b8babc;
  position: absolute;
  left: -12px;
}
.testimonial_section .swiper {
  overflow: visible;
  z-index: 0;
}
.testimonial_section .swiper-horizontal > .swiper-scrollbar,
.testimonial_section .swiper-scrollbar.swiper-scrollbar-horizontal {
  position: relative;
  margin-top: 100px;
  width: 100%;
  left: 0px;
  cursor: grab;
}
.scrollToTop {
  position: absolute;
  right: 47px;
  bottom: -2px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 2;
  background: transparent;
}
.scrollToTop:hover svg rect {
  fill: #137D00;
}
.faq_section .container {
  position: relative;
}
/* ---------testimonual ends-------- */
@media screen and (max-width: 1240px) {
  .faq-inner {
    padding-right: 100px;
  }
}
@media screen and (max-width: 1024px) {
  .swiper-video, .swiper-img {
    max-height: 300px;
  }
  .faq-inner {
    padding-right: 0px;
  }
  .scrollToTop svg {
    width: 40px;
    height: 38px;
  }
  .scrollToTop {
    top: -2px;
    right: 16px;
  }
  .uploadMain .forJob {
    padding-top: 0px;
  }
  .searchNupload {
    flex-direction: column;
    gap: 16px;
  }
  .uploadMain {
    flex-direction: row;
  }
  .searchMain {
    width: 100%;
  }
  .searchSection {
    padding-top: 16px;
    padding-bottom: 20px;
  }
  .menu_visible {
    width: 21.438em;
    padding-bottom: 0px;
    padding-right: 1px;
    padding-left: 22px;
  }
  .menu_items {
    width: 100%;
    max-height: calc(100vh - 175px);
  }
  .menu_visible_img {
    display: none;
  }
  .menuItem {
    margin-top: 0px;
  }
  .menu_visible_options {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-top: 62px;
    position: relative;
    margin-bottom: 18px;
  }
  .menu_visible_options button {
    position: absolute;
    right: 12px;
    top: 6px;
    width: 28px;
    height: 28px;
    padding: 8px;
  }
  .testimonial_heading {
    padding: 0 23px;
  }
}
@media screen and (max-width: 767px) {
  .swiper-img, .swiper-video {
    height: 250px;
    min-height: unset;
  }
  .swiper-img img {
    width: 100%;
  }
  header {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  header.header_on_scroll {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .banner_section {
    margin-top: 0px;
  }
  .searchMain .searchInput input {
    border-radius: 40px;
    padding-right: 60px;
    padding-left: 24px;
  }
  .searchMain .locationInput input {
    border-radius: 40px;
    padding-right: 60px;
    padding-left: 24px;
  }
  .searchMainInner {
    flex-direction: column;
    gap: 8px;
  }
  .searchMain {
    flex-direction: column;
    gap: 20px;
  }
  .searchMain button {
    margin: 0 auto;
    width: 100%;
    padding: 18px 35px 18px 35px;
  }
  .searchNupload {
    gap: 20px;
    padding-bottom: 28px;
  }
  .searchSection {
    padding-bottom: 16px;
    top: 68px;
  }
  .searchMain .locationInput::before,
  .searchMain .searchInput::before {
    right: 14px;
  }
  .mission_item {
    width: 100%;
  }
  .culture_values_item .read_more {
    display: block;
    width: max-content;
    margin: 7px auto 0;
    padding-right: 16px;
  }
  #read_more_btn {
    display: none !important;
  }
  .menuToggle .global span {
    display: none;
  }
  .menuItem a {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.28px;
  }
  .menu_visible li {
    padding: 10px 0px;
  }
  .testimonial_section {
    padding-top: 78px;
  }
  .testimonial_heading {
    margin-bottom: 28px;
  }
  .testimonial_section .swiper-slide {
    width: 82.6%;
  }
  .testimonial_section .swiper-button-next {
    right: -10px;
  }
  .testimonial_section .swiper-button-next,
  .testimonial_section .swiper-button-prev {
    top: -42px;
  }
  .testimonial_section .swiper-button-prev {
    right: 62px;
  }
  .testimonial_section .swiper-slide h5 {
    margin-top: 14px;
    font-size: 20px;
    line-height: 24px;
    padding-right: 5px;
  }
  .testimonial_section .swiper-slide p {
    padding-right: 5px;
  }
  .testimonial_section .swiper-horizontal > .swiper-scrollbar,
  .testimonial_section .swiper-scrollbar.swiper-scrollbar-horizontal {
    margin-top: 48px;
  }
  .welcome_section h1 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.36px;
  }
  .welcome_section h4 {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.28px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
  }
  .welcome_section p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .welcome_section {
    padding-bottom: 22px;
    padding-top: 22px;
  }
  .mission_section {
    padding-top: 24px;
  }
  .testimonial_section .swiper-horizontal > .swiper-scrollbar,
  .testimonial_section .swiper-scrollbar.swiper-scrollbar-horizontal {
    margin-top: 48px;
  }
  .welcome_section h1 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.36px;
  }
  .welcome_section h4 {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.28px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 8px;
  }
  .welcome_section p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .welcome_section {
    padding-bottom: 22px;
  }
  .mission_section {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .culture_values_section {
    padding-top: 48px;
    padding-bottom: 24px;
  }
  .culture_values_text p {
    font-size: 18px;
    line-height: 24px;
    margin: 8px 0 0 0;
  }
  .culture_values_item svg {
    width: 62px;
    height: 62px;
  }
  .culture_values_text {
    text-align: center;
    margin-bottom: 26px;
  }
  .culture_values_item h4 {
    margin-bottom: 8px;
  }
  .culture_values_section button {
    font-size: 16px;
    line-height: 28px;
  }
  .culture_values_items {
    flex-wrap: wrap;
    gap: 32px;
    flex-direction: column;
  }
  .culture_values_item ul {
    padding-left: 15px;
  }
  .banner_section h1 {
    left: 23px;
    bottom: 0;
    font-size: 36px;
    line-height: 40px;
  }
  .controls {
    top: 10px;
    right: 10px;
    font-size: 12px;
    width: 32px;
    height: 32px;
  }

}
