.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 48px;
}
.container-fluid {
  padding: 0 48px;
}

 html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    font-family: 'Gilroy-Regular';
  }
  main {
    display: block;
  }
  * {
    outline: none;
}
.col-65 {
  max-width: 65%;
  width: 100%;
}
.col-60 {
  max-width: 60%;
  width: 100%;
}
.col-50 {
  max-width: 50%;
  width: 100%;
}
.col-40 {
max-width: 40%;
width: 100%;
}
.col-35 {
  max-width: 35%;
  width: 100%;
}
.col-34 {
max-width: 34%;
width: 100%;
}

h2 {
    font-size: 40px;
    line-height: 44px;
    font-family: 'Gilroy-Bold';
    color:#434141;
}
*{
  box-sizing: border-box;
}
  hr {
    box-sizing: content-box; 
    height: 0; 
    overflow: visible;
  }
  
  a {
    background-color: transparent;
  }
  b,
  strong {
    font-weight: bolder;
  }
  
  img {
    border-style: none;
  }
 
  textarea {
    overflow: auto;
  }
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
  }
  /* Remove padding and margin */
* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  .clear {
    clear: both;
  }
  .right {
    float: right;
  }
  .left {
    float: left;
  }
  p{
    color: #434141;
}
section {
  overflow: hidden;
}
.desktop {
  display: block !important;
}
.mobile, .tablet {
  display: none !important;
}
@media screen and (max-width: 1024px){
  .join_btn.desktop {
    display: none !important;
  }
.container {
  padding: 0px 24px;
}
.tablet {
  display: block !important;
}
}

  @media screen and (max-width: 767px){
    .desktop {
      display: none !important;
    }
    .mobile {
      display: block !important;
    }
    .col-65 {
      max-width: 100%;
    }
    .col-60 {
      max-width: 100%;
    }
    .col-50 {
        max-width: 100%;
    }
    .col-40 {
      max-width: 100%;
    }
    .col-35 {
      max-width: 100%;
    }
    .col-34 {
      max-width: 100%;
      }
      .container-fluid {
        padding: 0 23px;
    }
  }